<%= simple_form_for @employee, url: [ @company, @employee ], remote: true do |f| %>
  <%= f.input :name %>
  <%= enter_convert t("examples.employee.name") %>

  <p>
  <%= f.button :submit, class: 'btn-primary' %>
  <%= link_to t('link.close'), close_company_employees_path( @company ), remote: true, class: 'btn btn-secondary' %>
  </p>
<% end %>
