<%= simple_form_for @expense_template, url: [ @company, @expense_template ], wrapper: :horizontal_form do |f| %>
  <table class='table'>
    <tr>
      <td>
        <%= f.input :section %>
        <%= f.hint enter_convert t("examples.expense_template.section") %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.input :round, as: :radio_buttons, collection: [[t('round.true'), true], [t('round.false'), false]], wrapper: :horizontal_collection %>
        <div class='examples'><%= f.hint enter_convert t("examples.expense_template.round") %></div>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.input :way %>
        <%= f.hint enter_convert t("examples.expense_template.way") %>
      </td>
    </tr>
    <tr>
      <td>
        <div class='row'>
          <%= f.input :price %> <%=t 'number.currency.format.unit' %>
        </div>
        <div class='examples'><%= f.hint enter_convert t("examples.expense_template.price") %></div>
      </td>
    </tr>
  </table>

  <%= f.button :submit, class: 'btn-primary' %>
<% end %>
