<h2><%=t "#{@page_name}.title" %></h2>
<% unless current_user.expired?( @now ) -%>
  <p>
  <%= link_to t('link.new'), new_company_expense_template_path( @company ), title: t('link.new'), class: 'btn btn-primary' %>
  </p>
<% end -%>


<div class='table-responsive'>
  <table class='table'>
    <tr>
      <th><%=f ExpenseTemplate, :section %></th>
      <th><%=f ExpenseTemplate, :way %></th>
      <th><%=f ExpenseTemplate, :round %></th>
      <th><%=f ExpenseTemplate, :price %></th>
      <th><%=f ExpenseTemplate, :updated_at %></th>
      <% unless current_user.expired?( @now ) -%>
        <th></th>
        <th></th>
      <% end -%>
    </tr>
    <%= render @expense_templates %>
  </table>
</div>

<%= link_to t('link.back'), companies_path, class: 'btn btn-secondary' %>
