<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @daily_allowance.employee_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @daily_allowance.name %>
</p>

<p>
  <strong>One day allowance:</strong>
  <%= @daily_allowance.one_day_allowance %>
</p>

<p>
  <strong>Accommodation day allowance:</strong>
  <%= @daily_allowance.accommodation_day_allowance %>
</p>

<p>
  <strong>Return day allowance:</strong>
  <%= @daily_allowance.return_day_allowance %>
</p>

<%= link_to 'Edit', [:edit, :rabbix, @daily_allowance] %> |
<%= link_to 'Back', [:rabbix, :daily_allowances] %>
