<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.0&appId=268758906470077&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="row">
  <h1 class="col-sm-8">
    <%=t 'app_name' %>
  </h1>
  <div class="col-sm-4 fb-like float-end" data-href="https://ryohi.com/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</div>
<div id="topCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'ryohi.jpg', class: 'img-responsive' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'ryohi2.jpg', class: 'img-responsive' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'ryohi6.jpg', class: 'img-responsive' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'ryohi7.jpg', class: 'img-responsive' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'ryohi4.jpg', class: 'img-responsive' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'ryohi5.jpg', class: 'img-responsive' %>
    </div>
  </div>
  <button type="button" class="carousel-control-prev" data-bs-target="#topCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Prev</span>
  </button>
  <button type="button" class="carousel-control-next" data-bs-target="#topCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<p>
<div class="card">
  <h3 class="card-header" style="padding:20px 0;">
    <span class="release_note "><%=t '.release_note' %></span>
  </h3>
  <div class="card-body">
    <% Setting.release_notes.each do |note| %>
      <h6><span class="text-bg-secondary rounded" style="padding:3px 2px;"><%= note['date'] %></span> ver.<%= note['version'] %></h6>
      <p><%= note['description'] %></p>
    <% end %>
  </div>
</div>
</p>

<p />

<h3 class='text-explain'><%=t '.title1' %></h3>
<p><%= enter_convert t('.explain1') %></p>

<h3 class='text-explain'><%=t '.title2' %></h3>
<p><%= enter_convert t('.explain2') %></p>

<h3 class='text-explain'><%=t '.title3' %></h3>
<p><%= enter_convert t('.explain3') %></p>
<p>
<%= link_to t('.ryohikitei_sample'),  download_ryohikitei_path, target: '_blank', class: 'btn ', id: 'ryohikitei' %>
</p>
<p><%= enter_convert t('.explain4') %></p>

<h3 class='text-explain'><%=t '.title4' %></h3>
<p><%= enter_convert t('.explain5') %></p>

<h3 class='text-explain'><%=t '.title5' %></h3>
<p>
  <%= enter_convert t('.explain6') %>
  <ul>
    <li><%=t '.item1' %></li>
    <li><%=t '.item2' %></li>
  </ul>
  <%= enter_convert t('.explain7') %>
</p>

<h3 class='text-explain'><%=t '.title6' %></h3>
<ul>
  <li><%=t '.item3' %></li>
  <li><%=t '.item4' %></li>
  <li><%=t '.item5' %></li>
  <li><%=t '.item6' %></li>
</ul>

<h3 class='text-explain'><%=t '.title7' %></h3>
<p><%= enter_convert t('.explain8') %></p>

<h3 class='text-explain'><%=t '.title8' %></h3>
<p><%= enter_convert t('.explain9') %></p>

<h3 class='text-explain'><%=t '.title9' %></h3>
<p><%= enter_convert t('.explain10') %></p>

<div class="text-right">
  <%= link_to(new_user_path, class: 'btn btn-lg', id: 'signup_btn'){content_tag(:li, t('button.account_new'), class: 'glyphicon glyphicon-plus')} %>
</div>

<h2 class='text-yellow700 mt-3'><%=t '.title10' %></h2>
<p><%= enter_convert t('.explain11') %></p>
<%= link_to t('.to_facebook'), 'https://www.facebook.com/ryohicom/', class: 'btn btn-success btn-sm', roll: 'button', target: '_blank' %>
<div class="fb-like" data-href="https://www.facebook.com/ryohicom/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

<h2 class='text-yellow700 mt-3'><%=t '.title11' %></h2>
<p><%= enter_convert t('.explain12') %></p>

<%= link_to t('.to_site'), 'https://github.com/xibbar/ryohi.com', class: 'btn btn-warning btn-sm', roll: 'button', target: '_blank' %>
