<div class="h4 text-primary"><%= t 'label.schedules' %></div>
<div class="h4 hidden-print">
  <div id='newSchedule'>
    <%= link_to( t('link.create_schedules'), new_company_target_month_schedule_path( @company, @target_month ), remote: :true, class: 'btn btn-primary hidden-print') unless current_user.expired?( @now ) %>
  </div>
</div>


<div id='scheduleFlash' style="display:none;" class='hidden-print'></div>
<div id='scheduleForm' style="display:none;"></div>
<div id='schedulesTable'>
  <%= render 'target_months/schedules' %>
</div>

<div id='tripExpenseFlash' style="display: none;" class='hidden-print'></div>
<div id='tripExpenseForm' style="display: none;"></div>
<div class='row'>
  <div class="col-sm-6 h4 text-primary"><%= t 'label.trip_expenses' %></div>
</div>
<div id='tripExpensesTable'>
  <%= render 'target_months/trip_expenses' %>
</div>

<div id='totalTable'>
  <%= render 'target_months/total_table' %>
</div>

<%= javascript_tag <<-JAVASCRIPT
      $('#target_month, #target_employee').on('change', function(){
        $.get('#{ company_target_months_path( @company ) }/' + $(this).val() + '.js');
      });

    JAVASCRIPT
%>
