<% unless @target_month.schedules.empty? %> 
  <div class='table-responsive'>
    <table class='table table-bordered'>
      <tr>
        <% unless current_user.expired?( @now ) -%>
          <th class="hidden-print"></th>
        <% end -%>
        <th><%=f Schedule, :date %></th>
        <th><%=f Schedule, :destination %> / <%=f Schedule, :business %></th>
        <th><%=f Schedule, :daily_allowance %></th>
        <th><%=f Schedule, :accommodation_charges %></th>
      </tr>
      <% @target_month.schedules.each do |schedule| -%>
        <tr>
          <% unless current_user.expired?( @now ) -%>
            <td class="hidden-print">
              <%= link_to( t('button.create_trip_expenses'), new_company_target_month_trip_expense_path(@company, @target_month, {schedule: schedule.id}), remote: :true, class: 'btn btn-info btn-xs' ) unless current_user.expired?( @now ) %>
              <%= link_to t('button.edit'), edit_company_target_month_schedule_path(@company, @target_month, schedule), remote: true, class: 'btn btn-warning btn-xs' %>
              <%= link_to t('button.destroy'), company_target_month_schedule_path(@company, @target_month, schedule), method: :delete, data: { confirm: t('Are you sure?') }, remote: true, class: 'btn btn-danger btn-xs'%>
            </td>
          <% end -%>
          <td><%= schedule.date %></td>
          <td>
            <div class="strong">
              <strong>
                <%= schedule.destination %>
              </strong>
            </div>
            <div><%= schedule.business %></div>
          </td>
          <td class="text-right"><%= number_with_delimiter schedule.daily_allowance %> <%=t 'number.currency.format.unit' %></td>
          <td class="text-right"><%= number_with_delimiter schedule.accommodation_charges %> <%=t 'number.currency.format.unit' %></td>
        </tr>
      <% end -%>
      <tr class="text-danger h5">
        <% unless current_user.expired?( @now ) -%>
          <th class="hidden-print"></th>
        <% end -%>
        <th colspan="2"><%=f Schedule, :total %></th>
        <td class="text-right"><%= number_with_delimiter @target_month.total_daily_allowance %> <%=t 'number.currency.format.unit' %></td>
        <td class="text-right"><%= number_with_delimiter @target_month.total_accommodation_charges %> <%=t 'number.currency.format.unit' %></td>
      </tr>
    </table>
  </div>
<% else %>
  <div class="alert alert-warning">
    <h4><%=t 'notice.yet.title' %></h4>
    <p><%=t 'notice.yet.description' %></p>
  </div>
<% end %>
