<div class='row'>
  <div class="col-sm-6 h4 text-primary"><%= t 'label.total' %></div>
</div>

<div class='panel panel-danger'>
  <div class='panel-heading clearfix'>
    <div class='pull-left h4'>
      <small><%=f Schedule, :daily_allowance %></small>
      <%= number_to_currency @target_month.total_daily_allowance %>
      <small><%=f Schedule, :accommodation_charges %></small>
      <%= number_to_currency @target_month.total_accommodation_charges %>
      <small><%=f @target_month, :trip_expense_total %></small>
      <%= number_to_currency @target_month.trip_expense_total %>
    </div>
    <div class='pull-right h4'>
      <small><%=f @target_month, :total %></small>
      <%= number_to_currency @target_month.total %>
    </div>
  </div>
</div>
