  <div class='row'>
    <div class="col-sm-6 h4 text-primary"><%= t 'label.total' %></div>
  </div>

  <div class='table-responsive h4'>
    <table class='table table-bordered'>
      <tr>
        <th><%=f @target_month, :schedule_total %></th>
        <td class='text-danger text-right'><%= number_to_currency @target_month.schedule_total %></td>
      </tr>
      <tr>
        <th><%=f @target_month, :trip_expense_total %></th>
        <td class='text-danger text-right'><%= number_to_currency @target_month.trip_expense_total %></td>
      </tr>
      <tr>
        <th><%=f @target_month, :total %></th>
        <td class='text-danger text-right'><%= number_to_currency @target_month.total %></td>
      </tr>
    </table>
  </div>
