<div class='table-responsive'>
  <table class='table table-bordered'>
    <tr>
      <% unless current_user.expired?( @now ) -%>
        <th class='hidden-print'></th>
      <% end -%>
      <th><%=f Schedule, :date %></th>
      <th><%=f TripExpense, :section %></th>
      <th><%=f TripExpense, :way %></th>
      <th><%=f TripExpense, :price %></th>
    </tr>
    <% @target_month.order_trip_expenses.each do |trip_expense| -%>
      <tr>
        <% unless current_user.expired?( @now ) -%>
          <td class='hidden-print'>
            <%= link_to add_template_company_target_month_trip_expense_path(@company, @target_month, trip_expense), data: { confirm: t('add_confirm') }, title: t('button.titles.add_template'), class: 'btn btn-info btn-xs hidden-print' do %>
              <%= content_tag(:i, t("button.add_template"),class: 'glyphicon glyphicon-save') -%>
              <% end %>
            <%= link_to t('button.edit'), edit_company_target_month_trip_expense_path(@company, @target_month, trip_expense), remote: true, class: 'btn btn-warning btn-xs hidden-print' %>
            <%= link_to t('button.destroy'), company_target_month_trip_expense_path(@company, @target_month, trip_expense), method: :delete, data: { confirm: t('Are you sure?') }, remote: true, class: 'btn btn-danger btn-xs hidden-print' %>
          </td>
        <% end -%>
        <td><%= trip_expense.date %></td>
        <td><%= trip_expense.section_view %></td>
        <td><%= trip_expense.way %></td>
        <td class="text-right"><%= number_with_delimiter trip_expense.price %> <%=t 'number.currency.format.unit' %></td>
      </tr>
    <% end -%>
    <tr class="text-danger h5 hidden-print">
      <% unless current_user.expired?( @now ) -%>
        <th></th>
      <% end -%>
      <th colspan="3"><%=f Schedule, :total %></th>
      <td class="text-right"><%= number_with_delimiter @target_month.trip_expense_total %> <%=t 'number.currency.format.unit' %></td>
    </tr>
  </table>
</div>
