<div class='h2'>
  <%= @company.name %>
</div>
<div class='h3'><%=t "#{@page_name}.title" %></div>
<% unless current_user.expired?( @now ) -%>
<p>
<%= link_to t('link.create_target_months'), new_company_target_month_path( @company ), title: t('link.new'), class: 'btn btn-primary' %>
</p>
<% end -%>


<div id='form' class='form'></div>

<%= paginate @target_months, outer_window: 1, window: 2 %>
<div class="visible-xs">
  <% @target_months.each do |target_month| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="text-info">
          <%= target_month.date %>
          <%= target_month.employee_name %>
        </span>
        <span class="pull-right">
          <%= link_to( t('button.edit'), edit_company_target_month_path( @company, target_month ), class: 'btn btn-warning btn-xs' ) unless current_user.expired?( @now ) %>
          <%= link_to( t('button.destroy'), company_target_month_path( @company, target_month ), method: :delete, data: { confirm: t('Are you sure?') }, class: 'btn btn-danger btn-xs' ) unless current_user.expired?( @now ) %>
        </span>
      </div>
      <div class="panel-body">
        <%= link_to t('link.target_month_description'), company_target_month_path( @company, target_month ), class: 'btn btn-info btn-xs' %>
        <span class="pull-right">
          <%= number_to_currency target_month.total %>
        </span>
      </div>
    </div>
  <% end %>
</div>

<div class="hidden-xs">
  <table class='table table-striped'>
    <thead>
      <tr>
        <th></th>
        <th><%=f TargetMonth, :date %></th>
        <th><%=f TargetMonth, :employee_name %></th>
        <th class="text-right"><%=f TargetMonth, :total %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @target_months.each do |target_month| %>
        <tr>
          <td><%= link_to t('link.target_month_description'), company_target_month_path( @company, target_month ), class: 'btn btn-info btn-xs' %></td>
          <td><%= target_month.date %></td>
          <td><%= target_month.employee_name %></td>
          <td class="text-right"><%= number_to_currency target_month.total %></td>
          <td class="text-right">
            <%= link_to( t('button.edit'), edit_company_target_month_path( @company, target_month ), class: 'btn btn-warning btn-xs' ) unless current_user.expired?( @now ) %>
            <%= link_to( t('button.destroy'), company_target_month_path( @company, target_month ), method: :delete, data: { confirm: t('Are you sure?') }, class: 'btn btn-danger btn-xs' ) unless current_user.expired?( @now ) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>



<%= paginate @target_months, owter_window: 1, window: 2 %>

<%= link_to t('link.back'), companies_path, class: 'btn btn-default' %>
