<h2><%=t "#{@page_name}.title" %></h2>

<%= simple_form_for current_user, url: update_password_user_path(current_user), method: :patch, class: 'form-horizontal' do |f| %>
  <%= f.input :password %>
  <%= enter_convert t("examples.user.password") %>
  <%= f.input :password_confirmation %>
  <%= enter_convert t("examples.user.password_confirmation") %>
  <%= f.input :current_password %>
  <%= enter_convert t("examples.user.current_password") %>
  <p>
  <%= f.button :submit, t('button.update'), class: 'btn-success' %>
  <%= link_to t('link.back'), users_path, class: 'btn btn-secondary' %>
  </p>
<% end %>
