<%= form_for @schedule do |f| %>
  <table class='formT'>
    <tr>
      <th><%= f.label :trip_date %></th>
      <th><%= f.label :days %></th>
      <th><%= f.label :destination %></th>
      <th><%= f.label :business %></th>
    </tr>
  </table>
<% end %>

