<% breadcrumb :schedule, @schedule %>
<div class='h2'>
  出張の詳細
</div>
<div class='h3 col-sm-6'>出張の内容</div>
<div class='col-sm-6 text-right'>
<%= button_tag t("link.print"), onclick: 'window.print();return false;', class: 'btn btn-info hidden-print'%>
<%= link_to t("link.edit"), edit_schedule_path(@schedule), class: 'btn btn-warning hidden-print' %>
<%= link_to t("link.destroy"), schedule_path(@schedule), method: :delete, confirm: t('Are you sure?'), class: 'btn btn-danger hidden-print' %>
</div>
<%= render "schedule" %>
<div class='h3 col-sm-6'>出張の交通費</div>
<div class='text-right col-sm-6'>
  <%= link_to t("link.new"), new_schedule_trip_expense_path(@schedule), class: 'btn btn-primary hidden-print' %>
</div>
<div class='table-responsive'>
  <table class='table'>
      <tr>
        <th><%= f(TripExpense, :section) %></td>
        <th><%= f(TripExpense, :round) %></td>
        <th><%= f(TripExpense, :way) %></td>
        <th><%= f(TripExpense, :price) %></td>
        <th></td>
      </tr>
    <% @schedule.trip_expenses.each do |trip_expense| %>
      <tr>
        <td><%= trip_expense.section %></td>
        <td><%= t "round.#{trip_expense.round}" %></td>
        <td><%= trip_expense.way %></td>
        <td><%= number_with_delimiter trip_expense.price %>円</td>
        <td>
          <%= link_to add_template_schedule_trip_expense_path(@schedule, trip_expense), data: { confirm: t('add_confirm') }, title: t('button.titles.add_template'), class: 'btn btn-info btn-sm hidden-print' do %>
                  <%= content_tag(:i, t("button.add_template"),class: 'glyphicon glyphicon-save') -%>
                <% end %>
          <%= link_to t('link.edit'), edit_schedule_trip_expense_path(@schedule, trip_expense), class: 'btn btn-warning btn-sm hidden-print' %>
          <%= link_to t('link.destroy'), schedule_trip_expense_path(@schedule, trip_expense), method: :delete, confirm: t('Are you sure?'), class: 'btn btn-danger btn-sm hidden-print' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<%= link_to t('link.back'), :schedules, class: 'btn btn-default hidden-print'%>
