<div>
  <div class='h4 col-xs-6'>
    <%= @employee.company.name %>
    <%= @employee.name %>
  </div>
  <div class='h4 text-right col-xs-6'>
    <div class='hidden-print h5'>
      <%= link_to @date.last_month.strftime("<<%Y-%m"), monthly_report_path(year: @date.last_month.year, month: @date.last_month.month) %>
      <%= link_to "今月", monthly_report_path(@employee) %>
      <%= link_to @date.next_month.strftime("%Y-%m>>"), monthly_report_path(year: @date.next_month.year, month: @date.next_month.month) %>
    </div>
    <%= @date.strftime("%Y年%m月") %>
  </div>
</div>
<br />

<div class='h4'>出張と宿泊費・日当</div>
<div class='table-responsive'>
  <table class='table table-bordered'>
      <tr class='active'>
        <th class='hidden-print'></th>
        <th><%= f Schedule, :date %></th>
        <th><%= f Schedule, :daily_allowance %>/<%= f Schedule, :accommodation_charges %></th>
        <th><%= f Schedule, :destination %>/<%= f Schedule, :business %></th>
      </tr>
      <% @schedules.each do |schedule| %>
        <tr>
          <td class='hidden-print'>
            <%= link_to t("link.edit"), edit_schedule_path(schedule), class: 'btn btn-warning btn-xs hidden-print' %>
          </td>
          <td><%= schedule.date.strftime("%m/%d") %><small>（<%=days_view schedule.days %>）</small></td>
          <% if schedule.trip_expense_only %>
            <td><%= t("trip_expense_only_view.#{schedule.trip_expense_only}") %></td>
          <% else %>
            <td class='text-right'>
              <%= number_with_delimiter schedule.daily_allowance%>円/
              <%= number_with_delimiter schedule.accommodation_charges%>円
            </td>
          <% end %>
          <td colspan="5">
            <%= schedule.destination %>
            <small><%= schedule.business %></small>
          </td>
        </tr>
      <% end %>
  </table>
</div>
<br />
<div class='h4'>出張の交通費の明細</div>
<div class='table-responsive'>
  <table class='table table-bordered'>
    <tr class='active'>
      <th class='text-sm'><%= f Schedule, :date %></th>
      <th><%= f(TripExpense, :section) %></td>
      <th><%= f(TripExpense, :round) %></td>
      <th><%= f(TripExpense, :way) %></td>
      <th><%= f(TripExpense, :price) %></td>
    </tr>
    <% @schedules.each do |schedule| %>
      <% schedule.trip_expenses.each do |trip_expense| %>
        <tr>
          <td><%= schedule.date %></td>
          <td><%= trip_expense.section %></td>
          <td><%= t "round.#{trip_expense.round}" %></td>
          <td><%= trip_expense.way %></td>
          <td><%= number_with_delimiter trip_expense.price %>円</td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
<br />

<div class='h4'>合計</div>
<div class='table-responsive'>
  <table class='table table-bordered'>
      <tr class='danger'>
        <th class='text-right'><%= f Schedule, :daily_allowance %></th>
        <th class='text-right'><%= f Schedule, :accommodation_charges %></th>
        <th class='text-right'><%= f Schedule, :trip_expense_total %></th>
        <th class='text-right'><%= f Schedule, :total %>　</th>
      </tr>
      <tr>
        <td class='text-right'><%= number_with_delimiter @schedules.sum(:daily_allowance)%>円</td>
        <td class='text-right'><%= number_with_delimiter @schedules.sum(:accommodation_charges)%>円</td>
        <td class='text-right'><%= number_with_delimiter @schedules.sum{|s|s.trip_expenses.sum(:price)}%>円</td>
        <td class='text-right'><strong><%= number_with_delimiter @schedules.sum{|s|s.total}%>円</strong></td>
      </tr>
  </table>
</div>
<%= link_to t('link.back'), :monthly_reports, class: 'btn btn-default hidden-print'%>
