<div class='row' id='monthly-report-show'>
  <div class='h4 col-sm-6'>
    <%= @employee.company.name %>
    <%= @employee.name %>
  </div>
</div>
<div class='row'>
  <div class='hidden-print'>
    <%= button_tag t("link.print"), class: "btn btn-info hidden-print float-end", id: "monthly_report_print" %>
  </div>
</div>
<div class='row'>
  <div class='h4 text-end hidden-print'>
    <%= link_to @date.last_month.strftime("<<%Y-%m"), monthly_report_path(year: @date.last_month.year, month: @date.last_month.month) %>
    <%= link_to t('button.current'), monthly_report_path(@employee) %>
    <%= link_to @date.next_month.strftime("%Y-%m>>"), monthly_report_path(year: @date.next_month.year, month: @date.next_month.month) %>
  </div>
  <div class='h4 text-end' id='current-month'><%=l @date, format: :short_ja %></div>
</div>
<br />

<div class='h4'><%=t '.expenses' %></div>
<div class='table-responsive'>
  <table class='table table-bordered'>
      <tr class='table-active'>
        <th class='hidden-print'></th>
        <th><%= f Schedule, :date %></th>
        <th><%= f Schedule, :daily_allowance_amount %>/<%= f Schedule, :accommodation_charge_amount %></th>
        <th><%= f Schedule, :destination %>/<%= f Schedule, :business %></th>
      </tr>
      <% @schedules.each do |schedule| %>
        <tr>
          <td class='hidden-print'>
            <%= link_to t("link.edit"), edit_schedule_path(schedule), class: 'btn btn-warning btn-xs' %>
          </td>
          <td><%= schedule.date.strftime("%m/%d") %><small><%=t '.days', content: days_view(schedule.days) %></small></td>
          <td class='text-right'>
            <%= number_with_delimiter schedule.daily_allowance_amount%><%=t 'yen' %>/
            <%= number_with_delimiter schedule.accommodation_charge_amount%><%=t 'yen' %>
          </td>
          <td colspan="5">
            <%= schedule.destination %>
            <small><%= schedule.business %></small>
          </td>
        </tr>
      <% end %>
  </table>
</div>
<br />
<div class='h4'><%=t '.trip_expenses' %></div>
<div class='table-responsive'>
  <table class='table table-bordered'>
    <tr class='table-active'>
      <th class='text-sm'><%= f Schedule, :date %></th>
      <th><%= f(TripExpense, :section) %></td>
      <th><%= f(TripExpense, :round) %></td>
      <th><%= f(TripExpense, :way) %></td>
      <th><%= f(TripExpense, :price) %></td>
    </tr>
    <% @schedules.each do |schedule| %>
      <% schedule.trip_expenses.each do |trip_expense| %>
        <tr>
          <td><%= schedule.date %></td>
          <td><%= trip_expense.section %></td>
          <td><%= t "round.#{trip_expense.round}" %></td>
          <td><%= trip_expense.way %></td>
          <td><%= number_with_delimiter trip_expense.price %><%=t 'yen' %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
<br />

<div class='h4'><%=t '.total' %></div>
<div class='table-responsive'>
  <table class='table table-bordered'>
      <tr class='table-danger'>
        <th class='text-right'><%= f Schedule, :daily_allowance_amount %></th>
        <th class='text-right'><%= f Schedule, :accommodation_charge_amount %></th>
        <th class='text-right'><%= f Schedule, :trip_expense_total %></th>
        <th class='text-right'><%= f Schedule, :total %></th>
      </tr>
      <tr>
        <td class='text-right'><%= number_with_delimiter @schedules.sum(:daily_allowance_amount)%><%=t 'yen' %></td>
        <td class='text-right'><%= number_with_delimiter @schedules.sum(:accommodation_charge_amount)%><%=t 'yen' %></td>
        <td class='text-right'><%= number_with_delimiter @schedules.to_a.sum{|s|s.trip_expenses.sum(:price)}%><%=t 'yen' %></td>
        <td class='text-right'><strong><%= number_with_delimiter @schedules.to_a.sum{|s|s.total}%><%=t 'yen' %></strong></td>
      </tr>
  </table>
</div>
<span class='hidden-print'><%= link_to t('link.back'), :monthly_reports, class: 'btn btn-secondary' %></span>
