<div class='title n_a'>
  <h2 class='h2t'><%=t "#{@page_name}.title" %></h2>
  <div id='newLink' class='add'>
    <%= link_to t('link.new'), new_bridge_path, title: t('link.new') %>
  </div>
</div>

<table class='f_t'>
  <tr>
    <th colspan='2'></th>
    <th><%=f Bridge, :target_company %></th>
    <th></th>
  </tr>
  <%= render current_user.bridges %>
</table>


<div class='back'>
  <%= link_to t('link.back'), companies_path %>
</div>

