<div class='title n_a'>
  <h2 class='h2t'><%=t "#{@page_name}.title" %></h2>
</div>

<%= form_for @bridge do |f| %>
  <table class='f_t'>
    <tr>
      <th><%= f.label :login %></th>
      <td>
        <%= f.text_field :login, class: 't_i' %>
        <%= error_messages_on f.object, :login %>
        <div class='examples'><%= enter_convert t("examples.bridge.login") %></div>
      </td>
    </tr>
    <tr>
      <th><%= f.label :password %></th>
      <td>
        <%= f.password_field :password, class: 't_i' %>
        <%= error_messages_on f.object, :password %>
        <div class='examples'><%= enter_convert t("examples.bridge.password") %></div>
      </td>
    </tr>
  </table>

  <div class='submit btn new'>
    <%= f.submit %>
  </div>
<% end %>

<div class='back'>
  <%= link_to t('link.back'), bridges_path %>
</div>

