<div class='h3'><%=t '.title' %></div>
<div class='table-responsive'>
  <table class='table'>
      <tr>
        <th><%= f Employee, :name %></th>
        <td><%= @schedule.employee.name %></td>
      </tr>
      <tr>
        <th><%= f Schedule, :date %></th>
        <td><%= @schedule.date %></td>
      </tr>
      <tr>
        <th><%= f Schedule, :days %></th>
        <td><%= @schedule.days %></td>
      </tr>
      <tr>
        <th><%= f Schedule, :destination %></th>
        <td><%= @schedule.destination %></td>
      </tr>
      <tr>
        <th><%= f Schedule, :daily_allowance %></th>
        <td><%= number_with_delimiter @schedule.daily_allowance%><%=t 'yen' %></td>
      </tr>
      <tr>
        <th><%= f Schedule, :accommodation_charges %></th>
        <td><%= number_with_delimiter @schedule.accommodation_charges%><%=t 'yen' %></td>
      </tr>
      <tr>
        <th><%= f Schedule, :trip_expense_total %></th>
        <td><%= number_with_delimiter @schedule.trip_expenses.sum(:price)%><%=t 'yen' %></td>
      </tr>
      <tr>
        <th><%= f Schedule, :total %></th>
        <td><%= number_with_delimiter @schedule.total%><%=t 'yen' %></td>
      </tr>
      <tr>
        <th><%= f Company, :name %></th>
        <td><%= @schedule.employee.company.name %></td>
      </tr>
  </table>
</div>

