<div class='panel-body mb-3'>
  <div class='row form-group select'>
    <label class='string col-sm-3 col-form-label'><%= t 'label.select_template' %></label>
    <div class='col-sm-9'>
      <%= select_tag "template_id", options_for_select( @schedule.employee.company.expense_templates.map { |expense_template| [ expense_template.view, expense_template.id ] }.unshift( [ "", "" ] ) ), class: 'form-control' %>
      <p class="help-block"><%= t 'hints.select_template' %></p>
    </div>
  </div>
  <%= f.input :section %>
  <%= f.input :way %>
  <%= f.input :round, collection: [[t('round.true'),'true'], [t('round.false'),'false']], as: :radio_buttons, wrapper: :horizontal_collection, required: true %>
  <%= f.input :price, input_html: {min: 0} %>
  <div class="col-sm-3">
  </div>
  <div class="col-sm-9">
  <%= button_tag t('2_times'), onclick: "var price=parseInt($('#trip_expense_price').val()*2); $('#trip_expense_price').val(price); return false", class: 'btn btn-info btn-sm'%>
  <%= button_tag t('divide_2'), onclick: "var price=parseInt($('#trip_expense_price').val()/2); $('#trip_expense_price').val(price); return false", class: 'btn btn-warning btn-sm'%>
  </div>
</div>
<div class='panel-footer'>
  <%= f.button :submit, class: 'btn-success' %>
  <%= link_to t('link.back'), schedule_path(@schedule), class: 'btn btn-secondary'%>
</div>
