<div class='card'>
  <div class='card-header'>
    <div class='card-title'>
      <div class='h3'>
        <%=t '.title' %>
      </div>
    </div>
  </div>
  <div class='card-body'>
    <%= simple_form_for [:schedule, @trip_expense], wrapper: :horizontal_form do |f| %>
      <%= render "trip_expense", f: f %>
    <% end %>
  </div>
</div>
<%= javascript_tag <<-JAVASCRIPT
      $('#template_id').on('change', function(){
        $.post(
          '#{merge_template_schedule_trip_expenses_path( @schedule)}',
          { expense_template_id: $(this).val() },
          function( data ){
            $('#trip_expense_section').val( data.section );
            $('#trip_expense_round_' + data.round)[0].checked = true;
            $('#trip_expense_way').val( data.way );
            $('#trip_expense_price').val( data.price );
          }
        )
      });
JAVASCRIPT
%>

<%= render 'schedules/schedule' %>
<%= render "trip_expenses" %>
