<div class='small'>
  <h3>
    <span class='label label-primary'><%=t '.title' %></span>
  </h3>

  <p><%= enter_convert t('.top') %></p>

  <h4>
    <span class='label label-default'><%= enter_convert t('.title1') %></span>
  </h4>

  <p><%= enter_convert t('.content1') %></p>

  <h4>
    <span class='label label-default'><%= enter_convert t('.title2') %></span>
  </h4>

  <p><%= enter_convert t('.content2') %></p>
  <ol>
    <li><%= enter_convert t('.content2-1') %></li>
    <li><%= enter_convert t('.content2-2') %></li>
    <li><%= enter_convert t('.content2-3') %></li>
    <li><%= enter_convert t('.content2-4') %></li>
    <li><%= enter_convert t('.content2-5') %></li>
  </ol>
  <h4>
    <span class='label label-default'><%= enter_convert t('.title3') %></span>
  </h4>

  <p><%= enter_convert t('.content3') %></p>
  <h4>
    <span class='label label-default'><%= enter_convert t('.title4') %></span>
  </h4>

  <p><%= enter_convert t('.content4') %></p>
  <h4>
    <span class='label label-default'><%= enter_convert t('.title5') %></span>
  </h4>

  <p><%= enter_convert t('.content5') %></p>

  <ol>
    <li><%= enter_convert t('.content5-1') %></li>
    <li><%= enter_convert t('.content5-2') %></li>
    <li><%= enter_convert t('.content5-3') %></li>
    <li><%= enter_convert t('.content5-4') %></li>
    <li><%= enter_convert t('.content5-5') %></li>
    <li><%= enter_convert t('.content5-6') %></li>
    <li><%= enter_convert t('.content5-7') %></li>
    <li><%= enter_convert t('.content5-8') %></li>
    <li><%= enter_convert t('.content5-9') %></li>
    <li><%= enter_convert t('.content5-10') %></li>
    <li><%= enter_convert t('.content5-11') %></li>
    <li><%= enter_convert t('.content5-12') %></li>
  </ol>
  <h4>
    <span class='label label-default'><%= enter_convert t('.title6') %></span>
  </h4>

  <p><%= enter_convert t('.content6') %></p>
  <ol>
    <li><%= enter_convert t('.content6-1') %></li>
    <li><%= enter_convert t('.content6-2') %></li>
    <li><%= enter_convert t('.content6-3') %></li>
    <li><%= enter_convert t('.content6-4') %></li>
  </ol>
  <p><%= enter_convert t('.content6-5') %></p>
  <h4>
    <span class='label label-default'><%= enter_convert t('.title7') %></span>
  </h4>

  <p><%= enter_convert t('.content7') %></p>
  <h4>
    <span class='label label-default'><%= enter_convert t('.title8') %></span>
  </h4>

  <p><%= enter_convert t('.content8') %></p>
  <ol>
    <li><%= enter_convert t('.content8-1') %></li>
    <li><%= enter_convert t('.content8-2') %></li>
    <li><%= enter_convert t('.content8-3') %></li>
    <li><%= enter_convert t('.content8-4') %></li>
    <li><%= enter_convert t('.content8-5') %></li>
    <li><%= enter_convert t('.content8-6') %></li>
    <li><%= enter_convert t('.content8-7') %></li>
  </ol>
  <p><%= enter_convert t('.content8-8') %></p>
  <h4>
    <span class='label label-default'><%= enter_convert t('.title9') %></span>
  </h4>

  <p><%= enter_convert t('.content9') %></p>
  <h4>
    <span class='label label-default'><%= enter_convert t('.title10') %></span>
  </h4>

  <p><%= enter_convert t('.content10') %></p>

  <h4>
    <span class='label label-default'><%= enter_convert t('.title11') %></span>
  </h4>

  <p><%= enter_convert t('.content11') %></p>

  <h4>
    <span class='label label-default'><%= enter_convert t('.title12') %></span>
  </h4>

  <p><%= enter_convert t('.content12') %></p>

  <h4>
    <span class='label label-default'><%= enter_convert t('.title13') %></span>
  </h4>

  <p><%= enter_convert t('.content13') %></p>

  <h4>
    <span class='label label-default'><%= enter_convert t('.title14') %></span>
  </h4>

  <p><%= enter_convert t('.content14') %></p>
  <br />
  <p>
  <%= link_to t('link.back'), root_path, class: 'btn btn-secondary' %>
  </p>
</div>
