<h3>
  <span class='label label-primary'><%=t '.title' %></span>
</h3>
<div class='table-responsive'>
  <table class='table'>
    <tr>
      <th><%=t '.topic1' %></th>
      <td><%= enter_convert t('.content1') %></td>
    </tr>
    <tr>
      <th><%=t '.topic2' %></th>
      <td><%= enter_convert t('.content2') %></td>
    </tr>
    <tr>
      <th><%=t '.topic3' %></th>
      <td><%= enter_convert t('.content3') %></td>
    </tr>
    <tr>
      <th><%=t '.topic4' %></th>
      <td><%= enter_convert t('.content4') %></td>
    </tr>
    <tr>
      <th><%=t '.topic5' %></th>
      <td><%= enter_convert t('.content5') %></td>
    </tr>
    <tr>
      <th><%=t '.topic6' %></th>
      <td><%= enter_convert t('.content6') %></td>
    </tr>
    <tr>
      <th><%=t '.topic7' %></th>
      <td><%= enter_convert t('.content7') %></td>
    </tr>
    <tr>
      <th><%=t '.topic8' %></th>
      <td><%= enter_convert t('.content8') %></td>
    </tr>
    <tr>
      <th><%=t '.topic9' %></th>
      <td><%= enter_convert t('.content9') %></td>
    </tr>
  </table>
</div>
<br />
<p>
<%= link_to t('link.back'), root_path, class: 'btn btn-secondary' %>
</p>
