<div class="small">
  <h3>
    <span class='label label-primary'><%=t '.title' %></span>
  </h3>

  <p><%= enter_convert t('.top') %></p>

  <h4>
    <span class='label label-default'><%=t '.title1' %></span>
  </h4>

  <p><%= enter_convert t('.content1') %></p>

  <h4>
    <span class='label label-default'><%=t '.title2' %></span>
  </h4>

  <p><%= enter_convert t('.content2') %></p>

  <h4>
    <span class='label label-default'><%=t '.title3' %></span>
  </h4>

  <p><%= enter_convert t('.content3') %></p>

  <ol>
    <li><%= enter_convert t('.content3-1') %></li>
    <li><%= enter_convert t('.content3-2') %></li>
    <li><%= enter_convert t('.content3-3') %></li>
    <li><%= enter_convert t('.content3-4') %></li>
    <li><%= enter_convert t('.content3-5') %></li>
    <li><%= enter_convert t('.content3-6') %></li>
    <li><%= enter_convert t('.content3-7') %></li>
    <li><%= enter_convert t('.content3-8') %></li>
  </ol>

  <h4>
    <span class='label label-default'><%=t '.title4' %></span>
  </h4>

  <p><%= enter_convert t('.content4') %></p>
  <ol>
    <li><%= enter_convert t('.content4-1') %></li>
    <li><%= enter_convert t('.content4-2') %></li>
    <li><%= enter_convert t('.content4-3') %></li>
    <li><%= enter_convert t('.content4-4') %></li>
    <li><%= enter_convert t('.content4-5') %>
      <ul>
        <li><%= enter_convert t('.content4-6') %></li>
        <li><%= enter_convert t('.content4-7') %></li>
        <li><%= enter_convert t('.content4-8') %></li>
        <li><%= enter_convert t('.content4-9') %></li>
      </ul>
    </li>
  </ol>
  <p><%= enter_convert t('.content4-10') %></p>
  <ol>
    <li><%= enter_convert t('.content4-11') %></li>
    <li><%= enter_convert t('.content4-12') %></li>
    <li><%= enter_convert t('.content4-13') %></li>
  </ol>

  <h4>
    <span class='label label-default'><%=t '.title5' %></span>
  </h4>

  <p><%= enter_convert t('.content5') %></p>
  <ol>
    <li><%= enter_convert t('.content5-1') %></li>
    <li><%= enter_convert t('.content5-2') %></li>
    <li><%= enter_convert t('.content5-3') %></li>
  </ol>
  <p><%= enter_convert t('.content5-4') %></p>
  <h4>
    <span class='label label-default'><%=t '.title6' %></span>
  </h4>

  <p><%= enter_convert t('.content6') %></p>
  <h4>
    <span class='label label-default'><%=t '.title7' %></span>
  </h4>

  <p><%= enter_convert t('.content7') %></p>

  <h4>
    <span class='label label-default'><%=t '.title8' %></span>
  </h4>

  <p><%= enter_convert t('.content8') %></p>

  <h4>
    <span class='label label-default'><%=t '.title9' %></span>
  </h4>

  <address>
    <p><%= enter_convert t('.content9') %></p>
  </address>
  <br />
  <p>
  <%= link_to t('link.back'), root_path, class: 'btn btn-secondary' %>
  </p>
</div>
