<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= t("project.title") %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%#= stylesheet_pack_tag "application", media: "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%#= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <header class='hidden-print'>
      <nav class="navbar navbar-expand-lg bg-body-tertiary bg-light border-bottom py-2">
        <div class="container-fluid">
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#Navbar" aria-controls="Navbar" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </button>
          <%= image_tag 'bag_b.png', class: 'd-inline-block', size: '40x40' %>
          <strong><%= link_to t('project.title'), root_path, class: 'navbar-brand' %></strong>
          <div class="collapse navbar-collapse d-flex" id="navbarNavAltMarkup">
            <% if logged_in? %>
              <ul class="navbar-nav">
                <%= content_tag(:li, class: active_current_controller?("schedules")){link_to t('link.schedules'), schedules_path, class: 'nav-link'} %>
                <%= content_tag(:li, class: active_current_controller?("monthly_reports")){link_to t('link.monthly_reports'), monthly_reports_path, class: 'nav-link'} %>
              </ul>
              <ul class="navbar-nav ms-auto">
                <%= content_tag(:li, class: active_current_controller?("companies")){link_to t('link.companies'), companies_path, class: 'nav-link'} %>
                <%= link_to t('prefix.san', name: current_user.name), users_path, class: 'nav-link' %>
                <%= link_to t("link.logout"), signout_path, class: 'nav-link' %>
              </ul>
            <% else %>
              <div class="ms-auto">
                <%= form_with url: signin_path, class: 'row align-items-center', local: true do %>
                  <div class="col-auto">
                    <%= text_field_tag :login, '', class: 'form-control', placeholder: f(User, :login), autocapitalize: 'off', style: 'ime-mode: inactive;' %>
                  </div>
                  <div class="col-auto">
                    <%= password_field_tag :password, '', class: 'form-control', placeholder: f(User, :password) %>
                  </div>
                  <div class="col-auto">
                    <%= submit_tag t('button.login'), class: 'btn btn-primary' %>
                  </div>
                  <div class="form-group small col-auto">
                    <%= link_to t('link.forgot_password'), password_index_path, class: "position-relative top-50" %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </nav>
    </header>


    <% if logged_in? && current_user.expired? %>
      <div class="container hidden-print">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h4>
              <%= t 'project.expired' %>
            </h4>
          </div>
          <div class="panel-body">
            <p>
            <%= t 'project.expired_message' %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
    <div class="container py-3 border-bottom">
      <span id='bodyFlash' class="hidden-print">
        <%#= bootstrap_flash %>
        <%#= navigation %>
        <%= render 'layouts/flash' %>
      </span>
      <%= yield %>
    </div> <!-- /container -->
    <footer class='footer pt-3 hidden-print'>
      <div class='container small text-center'>
        <div class='row align-items-center'>
          <div class='col-sm-auto border-end'>
            <span class='text-muted'><%= t('project.title') %></span>
            <span class='text-muted footer-padding'><%= t('project.copyright') %></span>
          </div>
          <div class='col-sm-auto border-end'>
            <%= link_to t('link.privacy_policy'), privacy_policy_path, class: 'footer-padding'%>
          </div>
          <div class='col-sm-auto border-end'>
            <%= link_to t('link.agreement'), agreement_path, class: 'footer-padding'%>
          </div>
          <div class='col-sm-auto border-end'>
            <%= link_to t('link.operating_company'), operating_company_path, class: 'footer-padding'%>
          </div>
          <div class='col-sm-auto'>
            <%= link_to t('link.legal'), legal_path, class: 'footer-padding'%>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
