<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= t("project.title") %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <nav class='navbar navbar-default'>
        <div class='container-fluid'>
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button" aria-expanded="false">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <strong><%= link_to t('project.title'), root_path, class: 'navbar-brand'%></strong>
          </div>
          <div class="collapse navbar-collapse" id="navbar">
            <%= menu_group do %>
              <% if logged_in? %>
                <%= content_tag(:li, class: active_current_controller?("schedules")){link_to t('link.schedules'), schedules_path }%>
                <%= content_tag(:li, class: active_current_controller?("monthly_reports")){link_to t('link.monthly_reports'), monthly_reports_path }%>
              <% end %>
            <% end %>
            <%= menu_group pull: :right do %>
              <% if params[:controller]=='password' %> 
              <% else %>
                <% if logged_in? %>
                  <%= content_tag(:li, class: active_current_controller?("companies")){link_to t('link.companies'), companies_path }%>
                  <%= menu_item t('prefix.san', name: current_user.name), users_path %>
                  <%= menu_item t("link.logout"), signout_path %>
                <% else %>
                  <%= form_tag signin_path, class: 'navbar-form navbar-right' do %>
                    <div class="form-group">
                      <%= text_field_tag :login, '', class: 'form-control', placeholder: f(User, :login), autocapitalize: 'off', style: 'ime-mode: inactive;'%>
                    </div>
                    <div class="form-group">
                      <%= password_field_tag :password, '', class: 'form-control', placeholder: f(User, :password) %>
                    </div>
                    <div class="form-group">
                      <%= submit_tag t('button.login'), class: 'btn btn-primary' %>
                    </div>
                    <div class="form-group small">
                      <%= menu_item t('link.forgot_password'), password_index_path  %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>


    <% if logged_in? && current_user.expired? %>
      <div class="container">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h4>
              <%= t 'project.expired' %>
            </h4>
          </div>
          <div class="panel-body">
            <p>
            <%= t 'project.expired_message' %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
    <div class="container">
      <span id='bodyFlash' class="hidden-print">
        <%= bootstrap_flash %>
        <%= navigation %>
      </span>
      <%= yield %>


    </div> <!-- /container -->
    <footer class='footer'>
      <div class='container small'>
        <hr class='hidden-print' />
        <ul class='list-inline'>
          <li class=''>
            <span class='text-muted'><%= t('project.title') %></span>
            <span class='text-muted footer-padding'><%= t('project.copyright') %></span>
          </li>
          <li class='footer-bar hidden-print'>
            <%= link_to t('link.privacy_policy'), privacy_policy_path, class: 'footer-padding'%>
          </li>
          <li class='footer-bar hidden-print'>
            <%= link_to t('link.agreement'), agreement_path, class: 'footer-padding'%>
          </li>
          <li class='footer-bar hidden-print'>
            <%= link_to t('link.operating_company'), operating_company_path, class: 'footer-padding'%>
          </li>
          <li class='footer-bar hidden-print'>
            <%= link_to t('link.legal'), legal_path, class: 'footer-padding'%>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
